.Wrapper {
  display: flex;
  align-items: center;
  height: 4rem;
}

.Label {
  width: 9rem;
}

.Buttons {
  display: flex;
  align-items: center;
}

.Buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.2s;
  cursor: pointer;
}

.Buttons button:nth-child(1) {
  border: 1px solid var(--color-grey-dark-1);
  margin-right: 1rem;
}

.Buttons button:nth-child(1):disabled {
  /* background-color: black; */
}

.Buttons button:nth-child(1):hover {
  background-color: var(--color-grey-dark-1);
  color: var(--white);
}

.Buttons button:nth-child(2) {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
  color: var(--white);
}

.Buttons button:nth-child(2):hover {
  background-color: var(--color-primary-dark);
}
