.Wrapper {
  .Burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      width: 25rem;
    }

    .mb-1 {
      margin-bottom: 2rem;
    }
  }

  .TopBun {
    position: relative;
    z-index: 8;
  }

  .Salad {
    position: relative;
    z-index: 7;
    margin-top: -5rem;
    height: 6rem;
  }

  .Cheese {
    position: relative;
    z-index: 6;
    margin-top: -4rem;
    width: 23rem;
    height: 5rem;
  }

  .Meat {
    position: relative;
    z-index: 5;
    margin-top: -7rem;
    width: 24rem !important;
    height: 8rem;
  }

  .Tomato {
    position: relative;
    z-index: 4;
    margin-top: -5rem;
    width: 20rem !important;
  }

  .Onion {
    position: relative;
    z-index: 3;
    margin-top: -7rem;
    width: 22rem !important;
  }

  .Pear {
    position: relative;
    z-index: 2;
    margin-top: -6.2rem;
    width: 20rem !important;
  }

  .BottomBun {
    position: relative;
    z-index: 1;
    margin-top: -6rem;
  }
}
